@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="d-flex justify-content-evenly">
        <div class="card">
            <div class="card-header">
                <h2 class="name-client">
                    Nome do cliente
                    <span class="id-client">#0001</span>
                </h2>
            </div>
            <div class="card-body">
                <ul class="list-contat">
                    <li class="phone">61 9 9627-9859</li>
                    <li class="phone">61 9 9627-9859</li>
                    <li class="phone">61 9 9627-9859</li>
                    <li class="phone">61 9 9627-9859</li>
                    <li class="phone">61 9 9627-9859</li>
                </ul>
            </div>
            <div class="card-footer">
                <i id="btn-add-phone" onclick="showModalAddPhone(['João Victor', '1'])" class="fas fa-phone fa-lg mx-0 text-info"></i>
                <i id="btn-delete-client" onclick="showModalDeleteClient('Delete client 1')" class="far fa-trash-alt mx-0 fa-lg text-danger"></i>
                <i id="btn-edit-client" onclick="showModalEditClient('Edit Client 1')" class="fas fa-edit fa-lg mx-0 text-warning"></i>
            </div>
        </div>
    </div>
    <div class="btn-add" id="btn-add-client" onclick="showModalAddClient()">
        <i class="fas fa-plus"></i>
    </div>
</div>

<div class="modal-wrap" data-js="modal-add-client">
    <div class="modal">
        <div class="container">
            <div class="modal-header">
                <div>
                    <h1>Adicionar cliente</h1>
                </div>
            </div>
            <div class="modal-body">
                <form action="#">
                    <input type="text" class="input" name="name-cliente" id="name-cliente" placeholder="Nome do cliente">
                    <button type="button" class="btn-dismiss-add-client btn btn-outline-info text-info">Cancelar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal-wrap" data-js="modal-edit-client">
    <div class="modal">
        <div class="container">
            <div class="modal-header">
                <div>
                    <h1>Editar cliente</h1>
                </div>
            </div>
            <div class="modal-body">
                <h2 class="name-client">
                    Nome do cliente
                    <span class="id-client">#0001</span>
                </h2>
                <form action="#">
                    <input type="hidden" name="id-client">
                    <input type="text" class="input" name="name-client-edit" id="name-client-edit" placeholder="(00) 0 0000-0000">
                    <button class="btn-dismiss-edit-client btn btn-outline-info text-info">Cancelar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal-wrap" data-js="modal-delete-client">
    <div class="modal">
        <div class="container">
            <div class="modal-header">
                <div>
                    <h1>Excluir cliente</h1>
                </div>
            </div>
            <div class="modal-body">
                <div class="text-center text-danger fa-5x">
                    <i class="fas fa-times"></i>
                </div>
                <h3 class="name-client">
                    Nome do cliente
                    <span class="id-client">#0001</span>
                </h3>
                <h3>Tem certeza que deseja excluir este cliete?</h3>
                <p>Todas as informações sobre o cliente serão perdida.</p>

                <form action="#">
                    <input type="hidden" name="id-client">
                    <button class="btn-dismiss-delete-client btn btn-warning">Cancelar</button>
                    <button type="submit" class="btn btn-outline-danger text-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal-wrap" data-js="modal-add-phone">
    <div class="modal">
        <div class="container">
            <div class="modal-header">
                <div>
                    <h1>Adicionar telefone</h1>
                </div>
            </div>
            <div class="modal-body">
                <h2 class="name-client">
                    Nome do cliente
                    <span class="id-client">#0001</span>
                </h2>

                <ul class="list-contat">
                    <li class="d-flex justify-content-between">
                        <span>
                            61 9 96279-859
                        </span>
                        <span>
                            <i id="btn-delete-phone" onclick="showModalDeletePhone('Delete client 1')" class="far fa-trash-alt mx-0 fa-lg text-danger d-none"></i>
                            <i id="btn-edit-delete" onclick="showModalEditPhone('Edit Client 1')" class="fas fa-edit fa-lg mx-0 text-warning d-none"></i>
                        </span>
                    </li>
                </ul>

                <form action="#">
                    <input type="hidden" name="id-client">
                    <input type="number" class="input" name="phone-client" id="phone-client" placeholder="(00) 0 0000-0000">
                    <button class="btn-dismiss-add-phone btn btn-outline-info text-info">Cancelar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal-wrap" data-js="modal-edit-phone">
    <div class="modal">
        <div class="container">
            <div class="modal-header">
                <div>
                    <h1>Editar telefone</h1>
                </div>
            </div>
            <div class="modal-body">
                <h2 class="name-client">
                    Nome do cliente
                    <span class="id-client">#0001</span>
                </h2>
                <h2 class="phone-number">
                    61 9 96279859
                </h2>
                <form action="#">
                    <input type="hidden" name="id-phone">
                    <input type="text" class="input" name="name-client-edit" id="name-client-edit" placeholder="(00) 0 0000-0000">
                    <button class="btn-dismiss-edit-client btn btn-outline-info text-info">Cancelar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal-wrap" data-js="modal-delete-phone">
    <div class="modal">
        <div class="container">
            <div class="modal-header">
                <div>
                    <h1>Excluir telefone</h1>
                </div>
            </div>
            <div class="modal-body">
                <div class="text-center text-danger fa-5x">
                    <i class="fas fa-times"></i>
                </div>
                <h3 class="name-client">
                    Nome do cliente
                    <span class="id-client">#0001</span>
                </h3>
                <h3 class="phone-number">
                    61 996279859
                </h3>
                <h3>Tem certeza que deseja excluir este telefone??</h3>
                <p>Todas as informações sobre o cliente serão perdida.</p>

                <form action="#">
                    <input type="hidden" name="id-phone">
                    <button class="btn-dismiss-delete-client btn btn-warning">Cancelar</button>
                    <button type="submit" class="btn btn-outline-danger text-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>