<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRUD Estágio Projeção</title>
    @*<style> @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap'); </style>*@
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container">
            <div id="nav" class="d-flex justify-content-center align-items-center">
                <div class="logo">
                    <img src="assets/logo.png" alt="">
                </div>
                <!-- <nav id="navbar">
                    <ul class="d-flex justify-content-center">
                        <li class="mx-0">
                            <a href="index.html">Clientes</a>
                        </li>
                        <li class="mx-0">
                            <a href="info.html">Telefone</a>
                        </li>
                        <li class="mx-0">Configurações</li>
                    </ul>
                </nav> -->
            </div>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>

    <footer class="">
        <div class="container">
            <h3 class="text-center">Desenvolvido por João Victor</h3>
            <ul class="list-social-networks">
                <li class="item-social-network">
                    <a href="https://github.com/costajvsc">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                </li>
                <li class="item-social-network">
                    <a href="https://www.linkedin.com/in/victor-costa-jvsc/">
                        <i class="fab fa-linkedin-in fa-2x"></i>
                    </a>
                </li>
                <li class="item-social-network">
                    <a href="mailto:costa.jvsc@gmail.com.com">
                        <i class="fas fa-envelope fa-2x"></i>
                    </a>
                </li>
                <li class="item-social-network">
                    <a href="http://api.whatsapp.com/send?phone=5561996279859&text=Olá João, visualizei o seu projeto *CRUD em C#* aplicado a vaga de estágio do grupo Projeção e gostaria saber um pouco mais sobre ">
                        <i class="fab fa-whatsapp fa-2x"></i>
                    </a>
                </li>
                <li class="item-social-network">
                    <a href="https://www.instagram.com/mad.joao">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>