* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --light-grey: #e1e1e4;
    --danger: #D6230F;
    --info: #4093FF;
    --success: #1BA65E;
    --warning: #FCA400;
    --brand-red: #C11718;
    --brand-blue: #192A4A;
}

body {
    background-color: var(--light-grey);
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #000;
}

a:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.modal-wrap {
    display: none;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.modal {
    background-color: var(--light-grey);
    width: 90%;
    height: 500px;
    max-width: 600px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    margin: auto 10%;
}

.text-center {
    text-align: center;
}

.text-danger {
    color: var(--danger)
}

.text-info {
    color: var(--info);
}

.text-success {
    color: var(--success);
}

.text-warning {
    color: var(--warning);
}

.mx-0 {
    margin: 0 .25rem;
}

.logo img {
    width: 350px;
}

.btn {
    border: none;
    padding: .25rem;
    border-radius: 5px;
    box-sizing: border-box;
}
.btn-add {
    background-color: var(--success);
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    top: 90%;
    right: 0;
    margin-right: 10%;
}

.btn-danger {
    background-color: var(--danger);
    color: var(--light-grey);
}

.btn-info {
    background-color: var(--info);
    color: var(--light-grey);
}

.btn-success {
    background-color: var(--success);
    color: var(--light-grey);
}

.btn-warning {
    background-color: var(--warning);
    color: var(--light-grey);
}

.btn-outline-danger {
    border: 1px solid var(--danger) !important;
}

.btn-outline-info {
    border: 1px solid var(--info) !important;
}

.btn-outline-success {
    border: 1px solid var(--success) !important;
}

.btn-outline-warning {
    border: 1px solid var(--warning) !important;
}

.card {
    border-left: 7px solid var(--brand-red);
    padding: .5rem;
    width: 300px;
    background-color: #fff;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:nth-child(even) {
    border-left: 7px solid var(--brand-blue);
}

.card-body {
    padding: .25rem .5rem;
}

.card-footer {
    text-align: end;
    margin: .25rem .5rem;
}

.icon-danger {
    font-size: 7rem;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.d-none {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.d-none:hover {
    opacity: 1;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.list-social-networks {
    display: flex;
    list-style: none;
    justify-content: center;
}

.item-social-network {
    margin: 0 .5rem;
}

.item-social-network a {
    color: var(--brand-blue);
}

.item-social-network a:hover {
    color: var(--brand-red) !important;
}

.item-social-network a:active {
    color: var(--brand-red);
}

.item-social-network a:visited {
    color: var(--brand-blue);
}

.input {
    width: 100%;
    padding: .25rem;
    margin: .5rem 0;
}

